<h1><%=name%></h1>
<h2>What Is It?</h2>
<% if (locals.videos) { %>
<ul>
<% videos.forEach(video => { %>
  <li><a href="<%=video.href%>"><%=video.label%></a></li>
<% }) %>
</ul>
<% } %>
<% if (locals.videos) { %><%-locals.about ? about : ''%><% } %>
<h2>What Technologies Did I Use?</h2>
<%-stack%>
